:root {
    --east-bay: #495078;
    --deep-blush: #eb61a5;
    --seashell: #f1f0f1;
    --cadet-blue: #a4aac4;
    --pigeon-post: #bec5dd;
    --kobi: #eba2c5;
    --azalea: #f6c4dd;
    --bali-hai: #8494b1;
    --regent-gray: #8c949c;
    --french-gray: #bcbcc4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--kobi);
    color: var(--east-bay);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: var(--east-bay);
    color: white;
    padding: 1rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    text-align: left;
}

.left-section {
    flex: 1;
    padding-right: 2rem;
}

.main-content h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.journal-button-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.journal-button {
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.journal-button:hover {
    background-color: #555;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: var(--east-bay);
    color: white;
    text-align: center;
    padding: 1rem;
}